@import "includes/mixins.scss";

* {
  margin: 0;
  padding: 0;
  font-family: "montserrat", sans-serif;
}
.card {
  transition: 250ms;
  &:hover {
    background: darken(white, 5%);
    transform: translateY(-10px);
  }
  .over {
    z-index: 2 !important;
  }
  .ratings {
    min-width: 110px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    .star {
      &.star-under {
        color: #ddd;
        vertical-align: top;
        position: relative;
        @mixin starhover {
          color: gold;
        }
        &:hover > .star-over {
          @include starhover;
        }
        &:hover {
          @include starhover;
        }
      }
      &.star-over {
        transition: 100ms;
        color: #f80;
        position: absolute;
        left: 0;
        top: 0;
        width: 0%;
        overflow: hidden;
      }
    }
  }
}
